package elements

templ HeadScript(src string) {
	if src != "" {
		<script src={ src } defer></script>
	}
}

templ HeadScripts(paths []string) {
	for _, path := range paths {
		@HeadScript(path)
	}
}
